:root {
    --border: 0.3rem solid rgba(0, 0, 0, 0.2);
    --box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

html {
    font-size: 63.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    position: relative;
}

body {
    position: relative;
}

// Header section code
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 7%;
    transition: 0.3s;

    .logo {
        color: white;
        font-size: 3.5rem;
        margin-right: auto;

        i {
            border: 3px solid rgba(238, 90, 36, 1);
            border-radius: 50px;
        }

        span {
            padding-left: 5px;
        }
    }

    .navbar a {
        color: white;
        margin-right: 4rem;
        font-size: 1.8rem;
        text-transform: capitalize;
        transition: 0.3s;

        &:hover {
            color: rgba(250, 130, 49, 1);
        }
    }

    .ctn {
        color: white;
        background-color: rgba(238, 90, 36, 1);
        font-size: 1.7rem;
        padding: 15px 25px;
        border-radius: 8px;
        font-weight: 600;
        margin-left: auto;

        &:hover {
            background-color: rgba(250, 130, 49, 1);
            transition: 0.3s;
        }
    }

    .icons i {
        margin: 0;
        padding: 0;
        height: 4.5rem;
        line-height: 4.5rem;
        width: 4.5rem;
        text-align: center;
        color: rgba(22, 160, 133, 1);
        background-color: white;
        border-radius: 50%;
        margin-left: 0.7rem;
        font-size: 3rem;
        cursor: pointer;

        &:hover {
            background-color: rgba(22, 160, 133, 0.8);
            color: white;
        }
    }

    #menu-bar {
        display: none;
    }
}

// Hero section
.hero {
    position: relative;

    .slide {
        img {
            width: 100%;
            height: 425px;
        }

        .hero-content {
            position: absolute;
            top: 20%;
            left: 7%;
            transition: 0.3s;

            h1 {
                color: white;
                font-size: 4.8rem;
                font-weight: 600;
                margin-bottom: 20px;
            }

            p {
                color: white;
                font-size: 1.6rem;
                line-height: 2.5rem;
            }

            .btn {
                color: white;
                background-color: rgba(238, 90, 36, 1);
                display: inline-block;
                margin-top: 4rem;
                font-size: 1.5rem;
                font-weight: 600;
                padding: 18px 30px;
                border-radius: 10px;

                &:hover {
                    background-color: rgba(250, 130, 49, 1);
                    transition: 0.3s;
                }
            }

            .far {
                position: absolute;
                font-size: 5.3rem;
                color: white;
                margin: 4rem;
            }
        }
    }

    .form {
        width: 300px;
        height: 420px;
        background-color: white;
        position: absolute;
        top: 55%;
        right: 6%;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(22, 160, 133, 0.5);
        transition: 0.2s;

        h2 {
            color: rgba(22, 160, 133, 1);
            font-size: 3rem;
            font-weight: 600;
            margin: 20px 0 0 23px;
            transition: 0.2s;
        }

        .box-size {
            width: 250px;
            height: 48px;
            transition: 0.2s;
        }

        .details {
            margin: 15px 0 0 23px;
            background-color: rgba(85, 239, 196, 0.3);
            border-radius: 1.5rem;
            padding: 0 15px;
            color: rgba(22, 160, 133, 1);
        }

        .appoiment {
            margin: 30px 0 0 23px;
            background-color: rgba(22, 160, 133, 1);
            color: white;
            border-radius: 1.5rem;
            font-weight: 550;

            &:hover {
                color: black;
            }
        }
    }
}

// Brand-Logos
.brand-logos {
    margin: 5rem 0 0 12rem;
    display: grid;
    grid-template-columns: 190px 190px 190px;
    grid-template-rows: 80px;
    grid-gap: 10px;

    .grid-logo {
        img {
            width: 160px;
            cursor: pointer;
        }
    }
}

// Service content
.sub-content {
    margin: 12rem 0 0 12rem;
    font-size: 1.6rem;

    h1 {
        font-weight: 600;
    }

    .line {
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;

        p {
            line-height: 2.5rem;
            width: 750px;
        }

        .line-btn {
            // display: inline-block;
            margin-right: 12rem;
            color: rgba(22, 160, 133, 1);
            background-color: white;
            border: 1px solid rgba(22, 160, 133, 1);
            border-radius: 10px;
            padding: 14px 12px;
            transition: 0.3s;

            &:hover {
                background-color: rgba(22, 160, 133, 1);
                color: white;
            }
        }
    }
}

// Testimonial Section
.testimonial {
    margin: 3rem 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .box {
            background-color: white;
            border: 1px solid transparent;
            padding: 2rem;
            margin: 5rem 6rem;
            width: 280px;
            height: 360px;
            // border: 1px solid black;
            text-align: center;
            position: relative;
            transition: 0.3s;

            &:hover {
                box-shadow: 0 0 20px rgba(22, 160, 133, 0.5);
                z-index: 1;
            }

            i {
                font-size: 5rem;
                color: rgba(22, 160, 133, 1);
            }

            h1 {
                margin-top: 2rem;
                font-size: 2rem;
                font-weight: 600;
            }

            p {
                font-size: 1.5rem;
                margin-top: 2rem;
                line-height: 2.5rem;
                color: #485460;
            }

            .box-btn {
                position: absolute;
                font-size: 1.7rem;
                text-decoration: underline;
                color: rgba(22, 160, 133, 1);
                top: 88%;
                right: 32%;
            }
        }
    }
}

// About Us section //
.about-us {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 5rem 0;

    .main {
        margin-left: 18rem;

        h1 {
            font-size: 3rem;
            font-weight: 550;
        }

        p {
            font-size: 1.5rem;
            line-height: 2.5rem;
            margin-top: 2rem;
            width: 450px;
            color: #485460;
        }

        .about-btn {
            position: absolute;
            margin-top: 3rem;
            font-size: 1.5rem;
            background-color: rgba(22, 160, 133, 1);
            color: white;
            padding: 18px 30px;
            border-radius: 10px;
            font-weight: 550;
            transition: 0.3s;

            &:hover {
                background-color: white;
                color: rgba(22, 160, 133, 1);
                border: 1px solid rgba(22, 160, 133, 1);
            }
        }
    }

    .about-img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 18rem;
        width: 440px;
        height: 480px;
        background: url(/image/about-us.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 15px;

        .play-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            font-size: 2rem;
            width: 80px;
            height: 80px;
            border-radius: 100%;
            z-index: 2;
            position: relative;

            a {
                i {
                    color: rgba(22, 160, 133, 1);
                }
            }
        }

        .play-btn:before {
            content: "";
            position: absolute;
            border: 15px solid white;
            border-radius: 50%;
            top: -20px;
            left: -20px;
            right: -20px;
            bottom: -20px;
            animation: bloom1 1.5s linear infinite;
            opacity: 0;
            z-index: 1;
        }

        .play-btn:after {
            content: "";
            position: absolute;
            border: 15px solid white;
            border-radius: 50%;
            top: -20px;
            left: -20px;
            right: -20px;
            bottom: -20px;
            animation: bloom2 1.5s linear infinite;
            opacity: 0;
            z-index: 1;
            animation-delay: 0.4s;
        }

        @keyframes bloom1 {
            0% {
                transform: scale(0.5);
            }

            50% {
                opacity: 0.5;
            }

            100% {
                transform: scale(1.5);
            }
        }

        @keyframes bloom2 {
            0% {
                transform: scale(0.5);
            }

            50% {
                opacity: 0.5;
            }

            100% {
                transform: scale(1.5);
            }
        }
    }
}

// Choose-Us section
.choose-us {
    display: flex;
    justify-content: space-between;
    margin: 10rem 0;

    .choose-img {
        margin-left: 18rem;
        img {
            width: 410px;
            height: 510px;
        }
    }

    .main-content {
        width: 500px;
        height: auto;
        margin: 2rem 15rem 2rem 0;

        h1 {
            font-size: 3rem;
            font-weight: 550;
        }

        .para {
            font-size: 1.5rem;
            line-height: 2.5rem;
            margin-top: 3rem;
            color: #485460;
        }

        .block-contents {
            // margin-top: 3rem;

            .content-box {
                display: flex;
                align-items: center;
                margin-top: 3rem;

                .icon {
                    font-size: 4rem;
                    padding: 18px 20px;
                    border-radius: 10px;
                   
                    color: rgba(22, 160, 133, 1);
                    z-index: 1;
                    transition: 0.3s;

                    &:hover {
                        box-shadow: 0 0 20px rgba(189, 195, 199, 1);
                        z-index: 1;
                    }
                }

                .icon-2 {
                    font-size: 3rem;
                    padding: 22px 18px;
                }

                .sub-ctn {
                    margin-left: 2rem;

                    h2 {
                        font-size: 2rem;
                        font-weight: 550;
                    }

                    p {
                        font-size: 1.5rem;
                        line-height: 2.5rem;
                        margin-top: 1rem;
                        color: #485460;
                    }
                }
            }
        }
    }
}

// Our Special Doctors //
.special-dtr {
    .main-cnt {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .contents {
            margin-left: 18rem;
            width: 750px;

            h1 {
                font-size: 3rem;
                font-weight: 550;
            }

            p {
                font-size: 1.5rem;
                line-height: 2.5rem;
                margin-top: 1rem;
            }
        }

        .arrow {
            margin-right: 17rem;

            .fa-arrow-right {
                background-color: rgba(85, 239, 196, 0.3);
            }

            .fas {
                font-size: 2rem;
                // border: 1px solid black;
                padding: 8px 30px;
                border-radius: 5px;
                color: rgba(22, 160, 133, 1);
                transition: 0.5s;

                &:hover {
                    background-color: rgba(85, 239, 196, 0.3);
                    padding: 12px 36px;
                    z-index: 1;
                }
            }
        }
    }

    .cards {
        display: flex;
        justify-content: center;
        margin: 3rem;

        .card {
            //border: 1px solid black;
            margin: 5rem 6rem;
            text-align: center;
            box-shadow: 0 0 20px rgba(189, 195, 199, 1);
            border-radius: 20px;
            z-index: 1;
            transition: 0.3s;

            .icon {
                width: 320px;
                height: 340px;
                background-size: cover;
                border-radius: 20px 20px 0 0;

                .fab {
                    font-size: 2.5rem;
                    padding: 5px 5px;
                    margin: 28rem 0.5rem 0 0;
                    color: black;
                    background-color: white;
                    border-radius: 5px;
                    transition: 0.3s;

                    &:hover {
                        background-color: rgba(22, 160, 133, 1);
                        color: white;
                    }
                }

                .fa-facebook-f {
                    padding: 5px 8px;
                }
            }

            .icon-img1 {
                background-image: url(/image/Doctor-1.jpg);
            }

            .icon-img2 {
                background-image: url(/image/Doctor-2.jpg);
            }

            .icon-img3 {
                background-image: url(/image/Doctor-3.jpg);
            }

            .doc-name {
                margin: 1.5rem 0;
                line-height: 2.5rem;
                h2 {
                    font-size: 1.6rem;
                    font-weight: 550;
                }

                p {
                    font-size: 1.4rem;
                    color: #485460;
                }
            }
        }
    }

    .dot-container {
        text-align: center;
        margin: 2rem 0;

        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: rgba(85, 239, 196, 0.5);
            border-radius: 50%;
            display: inline-block;
            z-index: 1;
            transition: background-color 0.6s ease;

            &:hover {
                background-color: rgba(22, 160, 133, 1);
            }
        }
    }
}

// Footer section
.footer {
    width: 100%;
    height: auto;
    margin: 10rem 0 0 0rem;
    background-color: rgba(85, 239, 196, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 8rem;

    .foot {
        margin: 8rem 0;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: 600;
    }

    .list {
        list-style: none;
        margin-top: 2rem;
        font-size: 1.5rem;
        line-height: 3rem;

        a {
            color: #485460;
            transition: 0.5s;

            span {
                margin-left: 2rem;
            }

            &:hover {
                color: rgba(22, 160, 133, 1);
            }
        }
    }

    .footer-left {
        h1 {
            font-size: 3rem;
            .logo {
                color: rgba(22, 160, 133, 1);

                i {
                    border: 3px solid rgba(238, 90, 36, 1);
                    border-radius: 50%;
                    background-color: rgba(22, 160, 133, 1);
                    color: white;
                }

                span {
                    padding-left: 5px;
                    font-weight: 600;
                }
            }
        }

        address {
            font-style: normal;
            margin-top: 2rem;
            line-height: 3rem;
            font-size: 1.5rem;
            color: rgba(87, 96, 111, 1);
        }
    }
}

// Copyrights section
.bottom-detail {
    background-color: rgba(22, 160, 133, 1);
    width: 100%;
    height: auto;

    .bottom-text {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .bottom {
            margin: 3rem 0;
            font-size: 1.5rem;
        }

        .copyrights {
            margin-left: 17rem;
            color: white;
        }

        .social-media {
            margin-right: 17rem;

            .fab {
                font-size: 2rem;
                color: white;
                margin-left: 2rem;
                transition: 0.5s;

                &:hover {
                    color: black;
                }
            }
        }
    }
}




















// Media queries //

@media only screen and(max-width: 1280px) {
    html {
        font-size: 56.5%;

        // Hero section
        .hero {
            .form {
                width: 255px;
                height: 378px;

                h2 {
                    font-size: 2.8rem;
                }

                .box-size {
                    width: 200px;
                    height: 40px;
                }
            }
        }

        // Brand-logos
        .brand-logos {
            margin: 5rem 0 0 10rem;
            grid-template-columns: 160px 160px 160px;
            grid-template-rows: 70px;
            grid-gap: 8px;
            .grid-logo {
                img {
                    width: 130px;
                }
            }
        }

        // Sub-content
        .sub-content {
            margin: 10rem 0 0 10rem;

            .line {
                margin-top: 2.5rem;

                p {
                    width: 700px;
                }

                .line-btn {
                    margin-right: 9rem;
                    padding: 10px 8px;
                }
            }
        }

        // Testimonial
        .testimonial {
            .container {
                .box {
                    margin: 8rem 4rem;
                    width: 240px;
                    height: 340px;
                }
            }
        }

        // About-us
        .about-us {
            .main {
                margin: 0 0 5rem 10rem;

                p {
                    width: 360px;
                }

                .about-btn {
                    padding: 15px 27px;
                }
            }

            .about-img {
                margin-right: 10rem;
                width: 360px;
                height: 400px;

                .play-btn {
                    font-size: 1.8rem;
                    width: 60px;
                    height: 60px;
                }
            }
        }

        // Choose-us
        .choose-us {
            // margin: 10rem 0;

            .choose-img {
                margin-left: 10rem;
                img {
                    width: 380px;
                    height: 470px;
                }
            }

            .main-content {
                width: 420px;
                margin: 2rem 7rem 2rem 0;
            }
        }

        //Special Doctors with testimonial slider
        .special-dtr {
            .main-cnt {
                .contents {
                    margin-left: 10rem;
                    width: 700px;
                }

                .arrow {
                    margin-right: 9rem;

                    .fas {
                        padding: 7px 27px;

                        &:hover {
                            padding: 11px 33px;
                        }
                    }
                }
            }

            .cards {
                .card {
                    margin: 5rem 5rem;

                    .icon {
                        width: 270px;
                        height: 290px;

                        .fab {
                            font-size: 2.2rem;
                            padding: 4px 4px;
                        }

                        .fa-facebook-f {
                            padding: 4px 7px;
                        }
                    }
                }
            }
        }

        //Copyrights
        .bottom-detail {
            .bottom-text {
                .copyrights {
                    margin-left: 12.5rem;
                }

                .social-media {
                    margin-right: 12.5rem;
                }
            }
        }
    }
}

@media only screen and(max-width: 1024px) {
    html {
        font-size: 49.5%;

        // Header section
        .header {

            #menu-bar {
                display: inline-block;
            }

            .ctn {
                display: none;
            }

            .navbar {
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.7);
                display: none;
                transition: 1000ms ease all;
                height: 1000px;
                z-index: 5;

                &.active {
                    display: block;
                }

                a {
                    display: block;
                    color: white;
                    font-size: 2.5rem;
                    font-weight: 600;
                    text-align: center;
                    padding: 3rem 0;
                    margin: 5rem 0;

                    &:hover {
                        background-color: rgba(85, 239, 196, 0.5);
                        color: white;
                    }
                }
            }
        }

        // Hero section
        .hero {
            .slide {
                .hero-content {
                    top: 17%;

                    .btn {
                        padding: 13px 20px;
                    }

                    .far {
                        margin: 3.8rem;
                    }
                }
            }

            .form {
                width: 235px;
                height: 340px;

                .box-size {
                    width: 180px;
                    height: 35px;
                }

                .appoiment {
                    font-size: 1.5rem;
                    margin-top: 3.5rem;
                }
            }
        }

        // Brand-logos
        .brand-logos {
            grid-template-columns: 115px 115px 115px;
            grid-template-rows: 50px;
            grid-gap: 6px;
            .grid-logo {
                img {
                    width: 100px;
                }
            }
        }

        // Sub-content
        .sub-content {
            margin: 10rem 0 0 10rem;

            h1 {
                font-size: 2.8rem;
            }

            .line {
                margin-top: 2.2rem;

                p {
                    width: 510px;
                }

                span {
                    .line-btn {
                        margin-right: 8rem;
                        padding: 8px 6px;
                    }
                }
            }
        }

        // Testimonial
        .testimonial {
            .container {
                .box {
                    margin: 6rem 2rem;
                    width: 220px;
                    height: 290px;

                    .box-btn {
                        top: 85%;
                        right: 35%;
                    }
                }
            }
        }

        // About-us
        .about-us {

            .main {
                margin: 0 0 5rem 11rem;

                h1 {
                    font-size: 2.8rem;
                }

                p {
                    width: 300px;
                }

                .about-btn {
                    padding: 13px 24px;
                }
            }

            .about-img {
                margin-right: 11rem;
                width: 280px;
                height: 320px;
            }
        }

        // Choose-us
        .choose-us {
            .choose-img {
                margin-left: 10rem;

                img {
                    width: 300px;
                    height: 390px;
                }
            }

            .main-content {
                width: 320px;
                margin: 1rem 8rem 1rem 0;

                h1 {
                    font-size: 2.8rem;
                }

                .para {
                    margin-top: 2.5rem;
                }

                .block-contents {
                    .content-box {
                        margin-top: 3rem;

                        .icon {
                            font-size: 3.5rem;
                            padding: 14px 16px;
                        }

                        .icon-2 {
                            font-size: 2.5rem;
                            padding: 17px 16px;
                        }

                        .sub-ctn {
                            margin-left: 1.5rem;

                            h2 {
                                font-size: 1.9rem;
                            }
                        }
                    }
                }
            }
        }

        //Special Doctors with testimonial slider
        .special-dtr {
            .main-cnt {
                .contents {
                    width: 510px;

                    h1 {
                        font-size: 2.8rem;
                    }
                }

                .arrow {
                    .fas {
                        padding: 5px 18px;

                        &:hover {
                            padding: 8px 27px;
                        }
                    }
                }
            }

            .cards {
                .card {
                    margin: 4rem 3rem;
                    .icon {
                        width: 220px;
                        height: 240px;

                        .fab {
                            margin: 26rem 0.5rem 0 0;
                        }
                    }
                }
            }

            .dot-container {
                .dot {
                    height: 12px;
                    width: 12px;
                }
            }
        }

        //Copyrights
        .bottom-detail {
            .bottom-text {
                .copyrights {
                    margin-left: 11rem;
                }

                .social-media {
                    margin-right: 11rem;
                }
            }
        }
    }
}

@media only screen and(max-width: 930px) {
    html {
        .footer {
            flex-direction: column;

            .foot {
                margin: 3rem 0;
            }
        }
    }
}

@media only screen and(max-width: 768px) {
    html {
        font-size: 42.5%;

        // Hero section
        .hero {
            .slide {
                .hero-content {
                    top: 14%;

                    .far {
                        margin: 4rem 0 0 2rem;
                    }
                }
            }

            .form {
                width: 220px;
                height: 320px;

                h2 {
                    font-size: 2.5rem;
                }

                .box-size {
                    width: 175px;
                    height: 35px;
                }

                .appoiment {
                    font-size: 1.7rem;
                }
            }
        }

        // Brand-logos
        .brand-logos {
            margin: 5rem 0 0 9rem;
            grid-template-columns: 80px 80px 80px;
            grid-template-rows: 45px;
            grid-gap: 6px;
            .grid-logo {
                img {
                    width: 70px;
                }
            }
        }

        // Sub-content
        .sub-content {
            margin: 8rem 0 0 8rem;

            h1 {
                font-size: 2.8rem;
            }

            .line {
                margin-top: 2.5rem;

                span {
                    position: absolute;
                    margin-top: 8rem;

                    .line-btn {
                        margin-right: 7rem;
                        padding: 6px 5px;
                    }
                }
            }
        }

        // Testimonial
        .testimonial {
            .container {
                .box {
                    margin: 7rem 2rem 2rem 2rem;
                    width: 180px;
                    height: 270px;
                }

                .box-btn {
                    top: 75%;
                    right: 38%;
                }
            }
        }

        // About-us
        .about-us {
            margin: 5rem 0;
            .main {
                margin: 0 0 5rem 8rem;

                p {
                    width: 220px;
                }

                .about-btn {
                    padding: 10px 21px;
                }
            }

            .about-img {
                margin-right: 8rem;
                width: 210px;
                height: 300px;

                .play-btn {
                    font-size: 1.5rem;
                    width: 40px;
                    height: 40px;
                }
            }
        }

        // Choose-us
        .choose-us {
            .choose-img {
                margin: 3rem 0 3rem 5rem;

                img {
                    width: 240px;
                    height: 320px;
                }
            }

            .main-content {
                width: 240px;
                margin: 1rem 6rem 1rem 0;

                .para {
                    margin-top: 1.5rem;
                    line-height: 2rem;
                }

                .block-contents {
                    .content-box {
                        .icon {
                            padding: 12px 14px;
                        }

                        .icon-2 {
                            font-size: 2.5rem;
                            padding: 16px 14px;
                        }

                        .sub-ctn {
                            p {
                                line-height: 2.5rem;
                                margin-top: 0.5rem;
                            }
                        }
                    }
                }
            }
        }

        // Special Doctors with testimonial slider
        .special-dtr {
            .main-cnt {
                .contents {
                    margin-left: 5rem;
                    width: 350px;
                }

                .arrow {
                    margin-right: 7rem;

                    .fas {
                        padding: 4px 18px;

                        &:hover {
                            padding: 7px 23px;
                        }
                    }
                }
            }

            .cards {
                .card {
                    margin: 4rem 2rem;
                    .icon {
                        width: 190px;
                        height: 210px;
                    }
                }
            }
        }

        //Footer section
        .footer {
            .foot {
                margin: 2rem 0;
            }
        }

        //Copyrights
        .bottom-detail {
            .bottom-text {
                .copyrights {
                    margin-left: 8rem;
                }

                .social-media {
                    margin-right: 8rem;
                }
            }
        }
    }
}

@media only screen and(max-width: 640px) {
    .card-3 {
        display: none;
    }
}

@media only screen and(max-width: 540px) {
    html {
        font-size: 43%;

        // Hero section
        .hero {
            .slide {
                .hero-content {
                    h1 {
                        font-size: 4rem;
                    }

                    p {
                        font-size: 1.6rem;
                    }

                    .btn {
                        margin-top: 3rem;
                        padding: 12px 20px;
                        font-size: 1.6rem;
                    }

                    .far {
                        margin-top: 3rem;
                        font-size: 5.5rem;
                    }
                }
            }

            .form {
                top: 55%;
                width: 180px;
                height: 270px;

                ::placeholder {
                    font-size: 1.6rem;
                }

                .box-size {
                    width: 135px;
                    height: 25px;
                }

                .details {
                    border-radius: 1rem;
                    padding: 0 3px;
                }

                h2 {
                    font-size: 2.2rem;
                }

                .appoiment {
                    font-size: 1.4rem;
                }
            }
        }

        // Brand-logos
        .brand-logos {
            margin: 3rem 0 0 6rem;
            grid-template-columns: 65px 65px 65px;
            grid-template-rows: 30px;
            grid-gap: 6px;
            .grid-logo {
                img {
                    width: 60px;
                }
            }
        }

        // Sub-content
        .sub-content {
            margin: 8rem 0 0 6rem;

            h1 {
                font-size: 2.2rem;
            }

            .line {
                margin-top: 2rem;

                span {
                    p {
                        width: 360px;
                    }

                    .line-btn {
                        margin-right: 5rem;
                        padding: 6px 5px;
                        font-size: 1.5rem;
                    }
                }
            }
        }

        // Testimonial
        .testimonial {

            .container {

                .box {
                    margin: 6rem 0 2rem 2rem;
                    width: 190px;
                    height: 240px;
                }

                .box-btn {
                    top: 75%;
                    right: 38%;
                }
            }
        }

        // About-us
        .about-us {
            margin: 5rem 0;

            .main {
                margin: 0 0 5rem 6rem;

                h1 {
                    font-size: 2.5rem;
                }

                p {
                    width: 180px;
                    margin-top: 1.5rem;
                }

                .about-btn {
                    font-size: 1.2;
                    padding: 8px 18px;
                    margin-top: 2rem;
                }
            }

            .about-img {
                margin-right: 6rem;
                width: 180px;
                height: 300px;

                .play-btn {
                    font-size: 1.4rem;
                    width: 30px;
                    height: 30px;
                }
            }
        }

        // Choose-us
        .choose-us {
            .choose-img {
                margin: 12rem 0 12rem 5rem;

                img {
                    width: 200px;
                    height: 280px;
                }
            }

            .main-content {
                width: 200px;
                margin: 1rem 4rem 1rem 0;

                h1 {
                    font-size: 2.5rem;
                }

                .para {
                    margin-top: 1rem;
                    line-height: 2rem;
                }

                .block-contents {
                    position: relative;
                    .content-box {
                        margin-top: 2rem;

                        .icon {
                            font-size: 3rem;
                            margin-bottom: 4rem;
                            padding: 8px 10px;
                        }

                        .icon-1 {
                            position: absolute;
                            top: 1%;
                            left: 5%;
                        }

                        .icon-2 {
                            font-size: 2.3rem;
                            padding: 11px 10px;
                            position: absolute;
                            top: 36%;
                            left: 5%;
                        }

                        .icon-3 {
                            position: absolute;
                            top: 70%;
                            left: 5%;
                        }

                        .sub-ctn {
                            margin-top: 8rem;
                            h2 {
                                font-size: 1.7rem;
                            }

                            p {
                                line-height: 2.5rem;
                                margin-top: 0.5rem;
                            }
                        }
                    }
                }
            }
        }

        //Special Doctors with testimonial slider
        .special-dtr {

            .main-cnt {

                .contents {
                    width: 280px;
                }

                .arrow {
                    margin-right: 5rem;

                    .fas {
                        padding: 4px 13px;

                        &:hover {
                            padding: 6px 17px;
                        }
                    }
                }
            }

            .cards {
                .card {
                    margin: 4rem 2rem;

                    .icon {
                        width: 160px;
                        height: 190px;

                        .fab {
                            margin: 23rem 0.5rem 0 0;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and(max-width: 460px) {
    html {
        font-size: 40%;

        // Hero section
        .hero {
            .slide {
                .hero-content {
                    h1 {
                        font-size: 3.5rem;
                    }

                    .btn {
                        padding: 9px 14px;
                        font-size: 1.7rem;
                    }

                    .far {
                        font-size: 5rem;
                    }
                }
            }

            .form {
                top: 55%;
                width: 180px;
                height: 265px;

                ::placeholder {
                    font-size: 1.6rem;
                }

                .box-size {
                    width: 135px;
                    height: 25px;
                }

                .appoiment {
                    font-size: 1.4rem;
                }
            }
        }

        // Brand-logos
        .brand-logos {
            margin: 3rem 0 0 4rem;
            grid-template-columns: 50px 50px 50px;
            grid-template-rows: 18px;
            grid-gap: 6px;

            .grid-logo {
                img {
                    width: 45px;
                }
            }
        }

        // Sub-content
        .sub-content {
            margin: 8rem 0 8rem 5rem;
            position: relative;

            h1 {
                font-size: 2.4rem;
            }

            .line {
                margin-top: 2rem;

                p {
                    font-size: 1.5rem;
                    width: 360px;
                }

                span {
                    // margin-top: 6rem;

                    .line-btn {
                        margin-right: 5rem;
                        padding: 6px 5px;
                        font-size: 1.5rem;
                    }
                }
            }
        }

        // Testimonial
        .testimonial {
            .container {
                .box {
                    margin: 3rem 7rem;
                    width: 210px;
                    height: 240px;
                }

                .box-btn {
                    top: 75%;
                    right: 38%;
                }
            }
        }

        // About-us
        .about-us {

            .main {
                margin: 0 0 5rem 5rem;

                p {
                    width: 300px;
                }
            }

            .about-img {
                position: absolute;
                top: 90%;
                left: 45%;
                width: 200px;
                height: 240px;
            }
        }

        // Choose-us
        .choose-us {
            position: absolute;
            top: 108%;

            .choose-img {
                img {
                    width: 200px;
                    height: 250px;
                }
            }

            .main-content {
                position: absolute;
                top: 85%;
                left: 65%;
                width: 240px;
            }
        }

        //Special Doctors with testimonial slider
        .special-dtr {
            position: absolute;
            top: 160%;

            .main-cnt {
                position: relative;

                .contents {
                    width: 360px;

                    h1 {
                        font-size: 2.5rem;
                    }
                }

                .arrow {
                    position: absolute;
                    top: 110%;
                    right: 0%;
                }
            }

            .cards {
                .card {
                    margin: 3rem 1.5rem;

                    .icon {
                        width: 160px;
                        height: 180px;

                        .fab {
                            margin: 24rem 0.5rem 0 0;
                        }
                    }
                }
            }
        }

        // Footer section
        .footer {
            position: absolute;
            top: 182%;
        }

        // Copyrights
        .bottom-detail {
            position: absolute;
            top: 217.5%;

            .bottom-text {
                .social-media {
                    .fab {
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
}

@media only screen and(max-width: 398px) {
    html {
        font-size: 44%;

        // Hero Section
        .hero {
            .slide {
                .hero-content {
                    h1 {
                        font-size: 4rem;
                    }

                    ::placeholder {
                        font-size: 2.6rem;
                    }

                    .btn {
                        margin-top: 3rem;
                    }

                    .far {
                        margin-top: 3rem;
                        font-size: 5.1rem;
                    }
                }
            }

            // Appointment form
            .form {
                top: 85%;
                margin: 0 8rem;
                width: 235px;
                height: 320px;

                .box-size {
                    width: 180px;
                    height: 35px;
                }

                .appoiment {
                    font-size: 1.7rem;
                }
            }
        }

        // Brand Logo's
        .brand-logos {
            display: none;
        }

        // Service content
        .sub-content {
            margin: 16rem 0 0 5rem;
            position: absolute;
            top: 145%;

            h1 {
                font-size: 2.5rem;
            }

            .line {
                margin-top: 2rem;

                p {
                    width: 250px;
                }

                span {
                    margin-top: 12rem;

                    .line-btn {
                        padding: 4px 3px;
                        font-size: 1.4rem;
                    }
                }
            }
        }

        // Testimonial
        .testimonial {
            position: absolute;
            top: 200%;

            .container {
                .box {
                    margin: 5rem 3rem 0 3rem;
                    width: 230px;
                    height: 260px;
                }
            }
        }

        // About-us
        .about-us {
            position: absolute;
            top: 415%;
            height: 280px;

            .main {
                margin: 0 0 5rem 10rem;

                p {
                    width: 240px;
                }

                .about-btn {
                    font-size: 1.2;
                    padding: 6px 14px;
                    margin-top: 2rem;
                }
            }

            .about-img {
                top: 105%;
                left: 26%;
                width: 230px;
                height: 230px;
                margin: 0;
            }
        }

        // Choose-us
        .choose-us {
            position: absolute;
            top: 530%;

            .choose-img {
                margin: 12rem 0 12rem 12rem;
                img {
                    width: 210px;
                    height: 270px;
                }
            }

            .main-content {
                margin-right: 0;
                top: 85%;
                left: 25%;
                width: 230px;
            }
        }

        //Special Doctor
        .special-dtr {
            position: absolute;
            top: 765%;
            left: 10%;

            .main-cnt {
                position: relative;

                .contents {
                    width: 250px;

                    h1 {
                        font-size: 2.5rem;
                    }
                }

                .arrow {
                    position: absolute;
                    top: 110%;
                    right: 25%;
                }
            }

            .cards {
                .card-2 {
                    display: none;
                }

                .card {
                    margin: 3rem 1rem;

                    .icon {
                        width: 180px;
                        height: 200px;

                        .fab {
                            margin: 24rem 0.5rem 0 0;
                        }
                    }
                }
            }
        }

        // Footer section
        .footer {
            position: absolute;
            top: 865%;

            h1 {
                font-size: 2.3rem;
            }

            .foot {
                margin: 1.5rem 0;
            }

            .list {
                margin-top: 1rem;
            }

            .footer-left {
                h1 {
                    font-size: 2.5rem;
                    .logo {
                        i {
                            border: 2px solid rgba(238, 90, 36, 1);
                        }
                    }
                }
            }
        }

        //Copyright
        .bottom-detail {
            position: absolute;
            top: 1008%;
            height: 80px;

            .bottom-text {
                .social-media {
                    position: absolute;
                    top: 35%;
                    left: 13%;
                }
            }
        }
    }
}

@media only screen and(max-width: 320px) {
    html {
        font-size: 40%;

        // Hero section
        .hero {
            .slide {
                .hero-content {
                    h1 {
                        font-size: 3.8rem;
                    }
                }
            }

            .form {
                margin: 0 6rem;
                top: 80%;
                width: 200px;
                height: 300px;

                h2 {
                    font-size: 2.6rem;
                }

                ::placeholder {
                    font-size: 1.8rem;
                }

                .box-size {
                    width: 155px;
                    height: 33px;
                }
            }
        }

        // Sub-content
        .sub-content {
            margin: 10rem 0 0 4rem;

            .line {
                margin-top: 2rem;

                span {
                    margin-top: 10rem;

                    .line-btn {
                        margin-right: 5rem;
                        padding: 4px 3px;
                        font-size: 1.4rem;
                    }
                }
            }
        }

        // Testimonial 
        .testimonial {
            top: 185%;

            .container {
                .box {
                    margin: 4rem 2rem 0 2rem;
                    width: 210px;
                    height: 230px;
                }

                .box-btn {
                    top: 75%;
                    right: 38%;
                }
            }
        }

        // About us
        .about-us {
            top: 365%;

            .main {
                margin: 0 0 3rem 9rem;

                h1 {
                    font-size: 2.2rem;
                }

                p {
                    width: 220px;
                }
            }

            .about-img {
                top: 102%;
                left: 20%;
                width: 210px;
                height: 220px;
            }
        }

        // Chooose-us
        .choose-us {
            top: 475%;

            .choose-img {
                margin: 12rem 0 12rem 9rem;
                img {
                    width: 200px;
                    height: 260px;
                }
            }

            .main-content {
                top: 85%;
                left: 20%;
                width: 230px;

                h1 {
                    font-size: 2.3rem;
                }

                .block-contents {
                    .content-box {
                        .icon {
                            padding: 6px 8px;
                        }

                        .icon-2 {
                            padding: 8px 9px;
                        }

                        .sub-ctn {
                            margin-top: 7rem;
                        }
                    }
                }
            }
        }

        // Special-dtr
        .special-dtr {
            position: absolute;
            top: 675%;
            left: 8%;

            .main-cnt {
                position: relative;

                .contents {
                    width: 210px;

                    h1 {
                        font-size: 2.5rem;
                    }
                }

                .arrow {
                    position: absolute;
                    top: 110%;
                    right: 20%;
                }
            }

            .cards {
                .card-2 {
                    display: none;
                }

                .card {
                    margin: 3rem 0 1rem 1rem;

                    .icon {
                        width: 180px;
                        height: 200px;

                        .fab {
                            margin: 26rem 0.5rem 0 0;
                        }
                    }
                }
            }
        }

        //Footer
        .footer {
            top: 770%;

            h1 {
                font-size: 2.3rem;
            }
        }

        // Copyrights
        .bottom-detail {
            top: 902%;

            .bottom-text {
                .social-media {
                    left: 15%;
                }
            }
        }
    }
}

@media only screen and(max-width: 280px) {
    html {
        font-size: 44%;

        // Hero section
        .hero {
            .slide {
                .hero-content {
                    h1 {
                        font-size: 3.2rem;
                    }

                    .btn {
                        margin-top: 2rem;
                    }

                    .far {
                        margin-top: 2rem;
                        font-size: 4.6rem;
                    }
                }
            }

            // Appointment section
            .form {
                margin: 0 3rem;
                width: 200px;
                height: 265px;

                h2 {
                    font-size: 2rem;
                }

                .box-size {
                    width: 155px;
                    height: 25px;
                }

                .appoiment {
                    font-size: 1.5rem;
                }
            }
        }

        // Sub-content
        .sub-content {
            margin: 5rem 0 0 4rem;

            h1 {
                font-size: 2rem;
            }

            .line {
                margin-top: 1.5rem;

                span {
                    margin-top: 11rem;

                    .line-btn {
                        margin-right: 5rem;
                        padding: 4px 3px;
                        font-size: 1.3rem;
                    }
                }
            }
        }

        // Testimonial section
        .testimonial {
            position: absolute;
            top: 180%;

            .container {
                .box {
                    margin: 3rem 2rem;
                    width: 210px;
                    height: 240px;
                }
            }
        }

        // About-us
        .about-us {
            top: 375%;

            .main {
                margin: 0 0 3rem 5rem;

                h1 {
                    font-size: 2rem;
                }
            }

            .about-img {
                top: 110%;
                left: 16%;
                width: 200px;
                height: 200px;
            }
        }

        // Choose-us
        .choose-us {
            top: 480%;

            .choose-img {
                margin: 12rem 0 12rem 7rem;
                img {
                    width: 180px;
                    height: 240px;
                }
            }

            .main-content {
                top: 85%;
                left: 18%;
                width: 210px;

                h1 {
                    font-size: 2rem;
                }
            }
        }

        // Special Doctor
        .special-dtr {
            top: 700%;
            left: 5%;
            .main-cnt {
                .contents {
                    h1 {
                        font-size: 2rem;
                    }
                }
            }

            .cards {
                .card {
                    .icon {
                        .fab {
                            margin: 24rem 0.5rem 0 0;
                        }
                    }
                }
            }
        }

        // Footer 
        .footer {
            top: 795%;

            h1 {
                font-size: 2rem;
            }

            .footer-left {
                h1 {
                    font-size: 2.5rem;
                }
            }
        }

        // Copyrights
        .bottom-detail {
            top: 947%;

            .bottom-text {
                .social-media {
                    top: 40%;
                    left: 18%;
                }
            }
        }
    }
}
