:root {
  --border: 0.3rem solid rgba(0, 0, 0, 0.2);
  --box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}

html {
  font-size: 63.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  position: relative;
}

body {
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 7%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .logo {
  color: white;
  font-size: 3.5rem;
  margin-right: auto;
}

.header .logo i {
  border: 3px solid #ee5a24;
  border-radius: 50px;
}

.header .logo span {
  padding-left: 5px;
}

.header .navbar a {
  color: white;
  margin-right: 4rem;
  font-size: 1.8rem;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .navbar a:hover {
  color: #fa8231;
}

.header .ctn {
  color: white;
  background-color: #ee5a24;
  font-size: 1.7rem;
  padding: 15px 25px;
  border-radius: 8px;
  font-weight: 600;
  margin-left: auto;
}

.header .ctn:hover {
  background-color: #fa8231;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .icons i {
  margin: 0;
  padding: 0;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  color: #16a085;
  background-color: white;
  border-radius: 50%;
  margin-left: 0.7rem;
  font-size: 3rem;
  cursor: pointer;
}

.header .icons i:hover {
  background-color: rgba(22, 160, 133, 0.8);
  color: white;
}

.header #menu-bar {
  display: none;
}

.hero {
  position: relative;
}

.hero .slide img {
  width: 100%;
  height: 425px;
}

.hero .slide .hero-content {
  position: absolute;
  top: 20%;
  left: 7%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero .slide .hero-content h1 {
  color: white;
  font-size: 4.8rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.hero .slide .hero-content p {
  color: white;
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.hero .slide .hero-content .btn {
  color: white;
  background-color: #ee5a24;
  display: inline-block;
  margin-top: 4rem;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 18px 30px;
  border-radius: 10px;
}

.hero .slide .hero-content .btn:hover {
  background-color: #fa8231;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero .slide .hero-content .far {
  position: absolute;
  font-size: 5.3rem;
  color: white;
  margin: 4rem;
}

.hero .form {
  width: 300px;
  height: 420px;
  background-color: white;
  position: absolute;
  top: 55%;
  right: 6%;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 20px rgba(22, 160, 133, 0.5);
          box-shadow: 0 0 20px rgba(22, 160, 133, 0.5);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.hero .form h2 {
  color: #16a085;
  font-size: 3rem;
  font-weight: 600;
  margin: 20px 0 0 23px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.hero .form .box-size {
  width: 250px;
  height: 48px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.hero .form .details {
  margin: 15px 0 0 23px;
  background-color: rgba(85, 239, 196, 0.3);
  border-radius: 1.5rem;
  padding: 0 15px;
  color: #16a085;
}

.hero .form .appoiment {
  margin: 30px 0 0 23px;
  background-color: #16a085;
  color: white;
  border-radius: 1.5rem;
  font-weight: 550;
}

.hero .form .appoiment:hover {
  color: black;
}

.brand-logos {
  margin: 5rem 0 0 12rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 190px 190px 190px;
      grid-template-columns: 190px 190px 190px;
  -ms-grid-rows: 80px;
      grid-template-rows: 80px;
  grid-gap: 10px;
}

.brand-logos .grid-logo img {
  width: 160px;
  cursor: pointer;
}

.sub-content {
  margin: 12rem 0 0 12rem;
  font-size: 1.6rem;
}

.sub-content h1 {
  font-weight: 600;
}

.sub-content .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
}

.sub-content .line p {
  line-height: 2.5rem;
  width: 750px;
}

.sub-content .line .line-btn {
  margin-right: 12rem;
  color: #16a085;
  background-color: white;
  border: 1px solid #16a085;
  border-radius: 10px;
  padding: 14px 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sub-content .line .line-btn:hover {
  background-color: #16a085;
  color: white;
}

.testimonial {
  margin: 3rem 0;
}

.testimonial .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.testimonial .container .box {
  background-color: white;
  border: 1px solid transparent;
  padding: 2rem;
  margin: 5rem 6rem;
  width: 280px;
  height: 360px;
  text-align: center;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.testimonial .container .box:hover {
  -webkit-box-shadow: 0 0 20px rgba(22, 160, 133, 0.5);
          box-shadow: 0 0 20px rgba(22, 160, 133, 0.5);
  z-index: 1;
}

.testimonial .container .box i {
  font-size: 5rem;
  color: #16a085;
}

.testimonial .container .box h1 {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 600;
}

.testimonial .container .box p {
  font-size: 1.5rem;
  margin-top: 2rem;
  line-height: 2.5rem;
  color: #485460;
}

.testimonial .container .box .box-btn {
  position: absolute;
  font-size: 1.7rem;
  text-decoration: underline;
  color: #16a085;
  top: 88%;
  right: 32%;
}

.about-us {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5rem 0;
}

.about-us .main {
  margin-left: 18rem;
}

.about-us .main h1 {
  font-size: 3rem;
  font-weight: 550;
}

.about-us .main p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-top: 2rem;
  width: 450px;
  color: #485460;
}

.about-us .main .about-btn {
  position: absolute;
  margin-top: 3rem;
  font-size: 1.5rem;
  background-color: #16a085;
  color: white;
  padding: 18px 30px;
  border-radius: 10px;
  font-weight: 550;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about-us .main .about-btn:hover {
  background-color: white;
  color: #16a085;
  border: 1px solid #16a085;
}

.about-us .about-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 18rem;
  width: 440px;
  height: 480px;
  background: url(/image/about-us.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.about-us .about-img .play-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  font-size: 2rem;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  z-index: 2;
  position: relative;
}

.about-us .about-img .play-btn a i {
  color: #16a085;
}

.about-us .about-img .play-btn:before {
  content: "";
  position: absolute;
  border: 15px solid white;
  border-radius: 50%;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  -webkit-animation: bloom1 1.5s linear infinite;
          animation: bloom1 1.5s linear infinite;
  opacity: 0;
  z-index: 1;
}

.about-us .about-img .play-btn:after {
  content: "";
  position: absolute;
  border: 15px solid white;
  border-radius: 50%;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  -webkit-animation: bloom2 1.5s linear infinite;
          animation: bloom2 1.5s linear infinite;
  opacity: 0;
  z-index: 1;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes bloom1 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes bloom1 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@-webkit-keyframes bloom2 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes bloom2 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.choose-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10rem 0;
}

.choose-us .choose-img {
  margin-left: 18rem;
}

.choose-us .choose-img img {
  width: 410px;
  height: 510px;
}

.choose-us .main-content {
  width: 500px;
  height: auto;
  margin: 2rem 15rem 2rem 0;
}

.choose-us .main-content h1 {
  font-size: 3rem;
  font-weight: 550;
}

.choose-us .main-content .para {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-top: 3rem;
  color: #485460;
}

.choose-us .main-content .block-contents .content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

.choose-us .main-content .block-contents .content-box .icon {
  font-size: 4rem;
  padding: 18px 20px;
  border-radius: 10px;
  color: #16a085;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.choose-us .main-content .block-contents .content-box .icon:hover {
  -webkit-box-shadow: 0 0 20px #bdc3c7;
          box-shadow: 0 0 20px #bdc3c7;
  z-index: 1;
}

.choose-us .main-content .block-contents .content-box .icon-2 {
  font-size: 3rem;
  padding: 22px 18px;
}

.choose-us .main-content .block-contents .content-box .sub-ctn {
  margin-left: 2rem;
}

.choose-us .main-content .block-contents .content-box .sub-ctn h2 {
  font-size: 2rem;
  font-weight: 550;
}

.choose-us .main-content .block-contents .content-box .sub-ctn p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-top: 1rem;
  color: #485460;
}

.special-dtr .main-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.special-dtr .main-cnt .contents {
  margin-left: 18rem;
  width: 750px;
}

.special-dtr .main-cnt .contents h1 {
  font-size: 3rem;
  font-weight: 550;
}

.special-dtr .main-cnt .contents p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-top: 1rem;
}

.special-dtr .main-cnt .arrow {
  margin-right: 17rem;
}

.special-dtr .main-cnt .arrow .fa-arrow-right {
  background-color: rgba(85, 239, 196, 0.3);
}

.special-dtr .main-cnt .arrow .fas {
  font-size: 2rem;
  padding: 8px 30px;
  border-radius: 5px;
  color: #16a085;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.special-dtr .main-cnt .arrow .fas:hover {
  background-color: rgba(85, 239, 196, 0.3);
  padding: 12px 36px;
  z-index: 1;
}

.special-dtr .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem;
}

.special-dtr .cards .card {
  margin: 5rem 6rem;
  text-align: center;
  -webkit-box-shadow: 0 0 20px #bdc3c7;
          box-shadow: 0 0 20px #bdc3c7;
  border-radius: 20px;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.special-dtr .cards .card .icon {
  width: 320px;
  height: 340px;
  background-size: cover;
  border-radius: 20px 20px 0 0;
}

.special-dtr .cards .card .icon .fab {
  font-size: 2.5rem;
  padding: 5px 5px;
  margin: 28rem 0.5rem 0 0;
  color: black;
  background-color: white;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.special-dtr .cards .card .icon .fab:hover {
  background-color: #16a085;
  color: white;
}

.special-dtr .cards .card .icon .fa-facebook-f {
  padding: 5px 8px;
}

.special-dtr .cards .card .icon-img1 {
  background-image: url(/image/Doctor-1.jpg);
}

.special-dtr .cards .card .icon-img2 {
  background-image: url(/image/Doctor-2.jpg);
}

.special-dtr .cards .card .icon-img3 {
  background-image: url(/image/Doctor-3.jpg);
}

.special-dtr .cards .card .doc-name {
  margin: 1.5rem 0;
  line-height: 2.5rem;
}

.special-dtr .cards .card .doc-name h2 {
  font-size: 1.6rem;
  font-weight: 550;
}

.special-dtr .cards .card .doc-name p {
  font-size: 1.4rem;
  color: #485460;
}

.special-dtr .dot-container {
  text-align: center;
  margin: 2rem 0;
}

.special-dtr .dot-container .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(85, 239, 196, 0.5);
  border-radius: 50%;
  display: inline-block;
  z-index: 1;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.special-dtr .dot-container .dot:hover {
  background-color: #16a085;
}

.footer {
  width: 100%;
  height: auto;
  margin: 10rem 0 0 0rem;
  background-color: rgba(85, 239, 196, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 8rem;
}

.footer .foot {
  margin: 8rem 0;
}

.footer h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

.footer .list {
  list-style: none;
  margin-top: 2rem;
  font-size: 1.5rem;
  line-height: 3rem;
}

.footer .list a {
  color: #485460;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer .list a span {
  margin-left: 2rem;
}

.footer .list a:hover {
  color: #16a085;
}

.footer .footer-left h1 {
  font-size: 3rem;
}

.footer .footer-left h1 .logo {
  color: #16a085;
}

.footer .footer-left h1 .logo i {
  border: 3px solid #ee5a24;
  border-radius: 50%;
  background-color: #16a085;
  color: white;
}

.footer .footer-left h1 .logo span {
  padding-left: 5px;
  font-weight: 600;
}

.footer .footer-left address {
  font-style: normal;
  margin-top: 2rem;
  line-height: 3rem;
  font-size: 1.5rem;
  color: #57606f;
}

.bottom-detail {
  background-color: #16a085;
  width: 100%;
  height: auto;
}

.bottom-detail .bottom-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-detail .bottom-text .bottom {
  margin: 3rem 0;
  font-size: 1.5rem;
}

.bottom-detail .bottom-text .copyrights {
  margin-left: 17rem;
  color: white;
}

.bottom-detail .bottom-text .social-media {
  margin-right: 17rem;
}

.bottom-detail .bottom-text .social-media .fab {
  font-size: 2rem;
  color: white;
  margin-left: 2rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bottom-detail .bottom-text .social-media .fab:hover {
  color: black;
}

@media only screen and (max-width: 1280px) {
  html {
    font-size: 56.5%;
  }
  html .hero .form {
    width: 255px;
    height: 378px;
  }
  html .hero .form h2 {
    font-size: 2.8rem;
  }
  html .hero .form .box-size {
    width: 200px;
    height: 40px;
  }
  html .brand-logos {
    margin: 5rem 0 0 10rem;
    -ms-grid-columns: 160px 160px 160px;
        grid-template-columns: 160px 160px 160px;
    -ms-grid-rows: 70px;
        grid-template-rows: 70px;
    grid-gap: 8px;
  }
  html .brand-logos .grid-logo img {
    width: 130px;
  }
  html .sub-content {
    margin: 10rem 0 0 10rem;
  }
  html .sub-content .line {
    margin-top: 2.5rem;
  }
  html .sub-content .line p {
    width: 700px;
  }
  html .sub-content .line .line-btn {
    margin-right: 9rem;
    padding: 10px 8px;
  }
  html .testimonial .container .box {
    margin: 8rem 4rem;
    width: 240px;
    height: 340px;
  }
  html .about-us .main {
    margin: 0 0 5rem 10rem;
  }
  html .about-us .main p {
    width: 360px;
  }
  html .about-us .main .about-btn {
    padding: 15px 27px;
  }
  html .about-us .about-img {
    margin-right: 10rem;
    width: 360px;
    height: 400px;
  }
  html .about-us .about-img .play-btn {
    font-size: 1.8rem;
    width: 60px;
    height: 60px;
  }
  html .choose-us .choose-img {
    margin-left: 10rem;
  }
  html .choose-us .choose-img img {
    width: 380px;
    height: 470px;
  }
  html .choose-us .main-content {
    width: 420px;
    margin: 2rem 7rem 2rem 0;
  }
  html .special-dtr .main-cnt .contents {
    margin-left: 10rem;
    width: 700px;
  }
  html .special-dtr .main-cnt .arrow {
    margin-right: 9rem;
  }
  html .special-dtr .main-cnt .arrow .fas {
    padding: 7px 27px;
  }
  html .special-dtr .main-cnt .arrow .fas:hover {
    padding: 11px 33px;
  }
  html .special-dtr .cards .card {
    margin: 5rem 5rem;
  }
  html .special-dtr .cards .card .icon {
    width: 270px;
    height: 290px;
  }
  html .special-dtr .cards .card .icon .fab {
    font-size: 2.2rem;
    padding: 4px 4px;
  }
  html .special-dtr .cards .card .icon .fa-facebook-f {
    padding: 4px 7px;
  }
  html .bottom-detail .bottom-text .copyrights {
    margin-left: 12.5rem;
  }
  html .bottom-detail .bottom-text .social-media {
    margin-right: 12.5rem;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 49.5%;
  }
  html .header #menu-bar {
    display: inline-block;
  }
  html .header .ctn {
    display: none;
  }
  html .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    -webkit-transition: 1000ms ease all;
    transition: 1000ms ease all;
    height: 1000px;
    z-index: 5;
  }
  html .header .navbar.active {
    display: block;
  }
  html .header .navbar a {
    display: block;
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    padding: 3rem 0;
    margin: 5rem 0;
  }
  html .header .navbar a:hover {
    background-color: rgba(85, 239, 196, 0.5);
    color: white;
  }
  html .hero .slide .hero-content {
    top: 17%;
  }
  html .hero .slide .hero-content .btn {
    padding: 13px 20px;
  }
  html .hero .slide .hero-content .far {
    margin: 3.8rem;
  }
  html .hero .form {
    width: 235px;
    height: 340px;
  }
  html .hero .form .box-size {
    width: 180px;
    height: 35px;
  }
  html .hero .form .appoiment {
    font-size: 1.5rem;
    margin-top: 3.5rem;
  }
  html .brand-logos {
    -ms-grid-columns: 115px 115px 115px;
        grid-template-columns: 115px 115px 115px;
    -ms-grid-rows: 50px;
        grid-template-rows: 50px;
    grid-gap: 6px;
  }
  html .brand-logos .grid-logo img {
    width: 100px;
  }
  html .sub-content {
    margin: 10rem 0 0 10rem;
  }
  html .sub-content h1 {
    font-size: 2.8rem;
  }
  html .sub-content .line {
    margin-top: 2.2rem;
  }
  html .sub-content .line p {
    width: 510px;
  }
  html .sub-content .line span .line-btn {
    margin-right: 8rem;
    padding: 8px 6px;
  }
  html .testimonial .container .box {
    margin: 6rem 2rem;
    width: 220px;
    height: 290px;
  }
  html .testimonial .container .box .box-btn {
    top: 85%;
    right: 35%;
  }
  html .about-us .main {
    margin: 0 0 5rem 11rem;
  }
  html .about-us .main h1 {
    font-size: 2.8rem;
  }
  html .about-us .main p {
    width: 300px;
  }
  html .about-us .main .about-btn {
    padding: 13px 24px;
  }
  html .about-us .about-img {
    margin-right: 11rem;
    width: 280px;
    height: 320px;
  }
  html .choose-us .choose-img {
    margin-left: 10rem;
  }
  html .choose-us .choose-img img {
    width: 300px;
    height: 390px;
  }
  html .choose-us .main-content {
    width: 320px;
    margin: 1rem 8rem 1rem 0;
  }
  html .choose-us .main-content h1 {
    font-size: 2.8rem;
  }
  html .choose-us .main-content .para {
    margin-top: 2.5rem;
  }
  html .choose-us .main-content .block-contents .content-box {
    margin-top: 3rem;
  }
  html .choose-us .main-content .block-contents .content-box .icon {
    font-size: 3.5rem;
    padding: 14px 16px;
  }
  html .choose-us .main-content .block-contents .content-box .icon-2 {
    font-size: 2.5rem;
    padding: 17px 16px;
  }
  html .choose-us .main-content .block-contents .content-box .sub-ctn {
    margin-left: 1.5rem;
  }
  html .choose-us .main-content .block-contents .content-box .sub-ctn h2 {
    font-size: 1.9rem;
  }
  html .special-dtr .main-cnt .contents {
    width: 510px;
  }
  html .special-dtr .main-cnt .contents h1 {
    font-size: 2.8rem;
  }
  html .special-dtr .main-cnt .arrow .fas {
    padding: 5px 18px;
  }
  html .special-dtr .main-cnt .arrow .fas:hover {
    padding: 8px 27px;
  }
  html .special-dtr .cards .card {
    margin: 4rem 3rem;
  }
  html .special-dtr .cards .card .icon {
    width: 220px;
    height: 240px;
  }
  html .special-dtr .cards .card .icon .fab {
    margin: 26rem 0.5rem 0 0;
  }
  html .special-dtr .dot-container .dot {
    height: 12px;
    width: 12px;
  }
  html .bottom-detail .bottom-text .copyrights {
    margin-left: 11rem;
  }
  html .bottom-detail .bottom-text .social-media {
    margin-right: 11rem;
  }
}

@media only screen and (max-width: 930px) {
  html .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html .footer .foot {
    margin: 3rem 0;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 42.5%;
  }
  html .hero .slide .hero-content {
    top: 14%;
  }
  html .hero .slide .hero-content .far {
    margin: 4rem 0 0 2rem;
  }
  html .hero .form {
    width: 220px;
    height: 320px;
  }
  html .hero .form h2 {
    font-size: 2.5rem;
  }
  html .hero .form .box-size {
    width: 175px;
    height: 35px;
  }
  html .hero .form .appoiment {
    font-size: 1.7rem;
  }
  html .brand-logos {
    margin: 5rem 0 0 9rem;
    -ms-grid-columns: 80px 80px 80px;
        grid-template-columns: 80px 80px 80px;
    -ms-grid-rows: 45px;
        grid-template-rows: 45px;
    grid-gap: 6px;
  }
  html .brand-logos .grid-logo img {
    width: 70px;
  }
  html .sub-content {
    margin: 8rem 0 0 8rem;
  }
  html .sub-content h1 {
    font-size: 2.8rem;
  }
  html .sub-content .line {
    margin-top: 2.5rem;
  }
  html .sub-content .line span {
    position: absolute;
    margin-top: 8rem;
  }
  html .sub-content .line span .line-btn {
    margin-right: 7rem;
    padding: 6px 5px;
  }
  html .testimonial .container .box {
    margin: 7rem 2rem 2rem 2rem;
    width: 180px;
    height: 270px;
  }
  html .testimonial .container .box-btn {
    top: 75%;
    right: 38%;
  }
  html .about-us {
    margin: 5rem 0;
  }
  html .about-us .main {
    margin: 0 0 5rem 8rem;
  }
  html .about-us .main p {
    width: 220px;
  }
  html .about-us .main .about-btn {
    padding: 10px 21px;
  }
  html .about-us .about-img {
    margin-right: 8rem;
    width: 210px;
    height: 300px;
  }
  html .about-us .about-img .play-btn {
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
  }
  html .choose-us .choose-img {
    margin: 3rem 0 3rem 5rem;
  }
  html .choose-us .choose-img img {
    width: 240px;
    height: 320px;
  }
  html .choose-us .main-content {
    width: 240px;
    margin: 1rem 6rem 1rem 0;
  }
  html .choose-us .main-content .para {
    margin-top: 1.5rem;
    line-height: 2rem;
  }
  html .choose-us .main-content .block-contents .content-box .icon {
    padding: 12px 14px;
  }
  html .choose-us .main-content .block-contents .content-box .icon-2 {
    font-size: 2.5rem;
    padding: 16px 14px;
  }
  html .choose-us .main-content .block-contents .content-box .sub-ctn p {
    line-height: 2.5rem;
    margin-top: 0.5rem;
  }
  html .special-dtr .main-cnt .contents {
    margin-left: 5rem;
    width: 350px;
  }
  html .special-dtr .main-cnt .arrow {
    margin-right: 7rem;
  }
  html .special-dtr .main-cnt .arrow .fas {
    padding: 4px 18px;
  }
  html .special-dtr .main-cnt .arrow .fas:hover {
    padding: 7px 23px;
  }
  html .special-dtr .cards .card {
    margin: 4rem 2rem;
  }
  html .special-dtr .cards .card .icon {
    width: 190px;
    height: 210px;
  }
  html .footer .foot {
    margin: 2rem 0;
  }
  html .bottom-detail .bottom-text .copyrights {
    margin-left: 8rem;
  }
  html .bottom-detail .bottom-text .social-media {
    margin-right: 8rem;
  }
}

@media only screen and (max-width: 640px) {
  .card-3 {
    display: none;
  }
}

@media only screen and (max-width: 540px) {
  html {
    font-size: 43%;
  }
  html .hero .slide .hero-content h1 {
    font-size: 4rem;
  }
  html .hero .slide .hero-content p {
    font-size: 1.6rem;
  }
  html .hero .slide .hero-content .btn {
    margin-top: 3rem;
    padding: 12px 20px;
    font-size: 1.6rem;
  }
  html .hero .slide .hero-content .far {
    margin-top: 3rem;
    font-size: 5.5rem;
  }
  html .hero .form {
    top: 55%;
    width: 180px;
    height: 270px;
  }
  html .hero .form ::-webkit-input-placeholder {
    font-size: 1.6rem;
  }
  html .hero .form :-ms-input-placeholder {
    font-size: 1.6rem;
  }
  html .hero .form ::-ms-input-placeholder {
    font-size: 1.6rem;
  }
  html .hero .form ::placeholder {
    font-size: 1.6rem;
  }
  html .hero .form .box-size {
    width: 135px;
    height: 25px;
  }
  html .hero .form .details {
    border-radius: 1rem;
    padding: 0 3px;
  }
  html .hero .form h2 {
    font-size: 2.2rem;
  }
  html .hero .form .appoiment {
    font-size: 1.4rem;
  }
  html .brand-logos {
    margin: 3rem 0 0 6rem;
    -ms-grid-columns: 65px 65px 65px;
        grid-template-columns: 65px 65px 65px;
    -ms-grid-rows: 30px;
        grid-template-rows: 30px;
    grid-gap: 6px;
  }
  html .brand-logos .grid-logo img {
    width: 60px;
  }
  html .sub-content {
    margin: 8rem 0 0 6rem;
  }
  html .sub-content h1 {
    font-size: 2.2rem;
  }
  html .sub-content .line {
    margin-top: 2rem;
  }
  html .sub-content .line span p {
    width: 360px;
  }
  html .sub-content .line span .line-btn {
    margin-right: 5rem;
    padding: 6px 5px;
    font-size: 1.5rem;
  }
  html .testimonial .container .box {
    margin: 6rem 0 2rem 2rem;
    width: 190px;
    height: 240px;
  }
  html .testimonial .container .box-btn {
    top: 75%;
    right: 38%;
  }
  html .about-us {
    margin: 5rem 0;
  }
  html .about-us .main {
    margin: 0 0 5rem 6rem;
  }
  html .about-us .main h1 {
    font-size: 2.5rem;
  }
  html .about-us .main p {
    width: 180px;
    margin-top: 1.5rem;
  }
  html .about-us .main .about-btn {
    font-size: 1.2;
    padding: 8px 18px;
    margin-top: 2rem;
  }
  html .about-us .about-img {
    margin-right: 6rem;
    width: 180px;
    height: 300px;
  }
  html .about-us .about-img .play-btn {
    font-size: 1.4rem;
    width: 30px;
    height: 30px;
  }
  html .choose-us .choose-img {
    margin: 12rem 0 12rem 5rem;
  }
  html .choose-us .choose-img img {
    width: 200px;
    height: 280px;
  }
  html .choose-us .main-content {
    width: 200px;
    margin: 1rem 4rem 1rem 0;
  }
  html .choose-us .main-content h1 {
    font-size: 2.5rem;
  }
  html .choose-us .main-content .para {
    margin-top: 1rem;
    line-height: 2rem;
  }
  html .choose-us .main-content .block-contents {
    position: relative;
  }
  html .choose-us .main-content .block-contents .content-box {
    margin-top: 2rem;
  }
  html .choose-us .main-content .block-contents .content-box .icon {
    font-size: 3rem;
    margin-bottom: 4rem;
    padding: 8px 10px;
  }
  html .choose-us .main-content .block-contents .content-box .icon-1 {
    position: absolute;
    top: 1%;
    left: 5%;
  }
  html .choose-us .main-content .block-contents .content-box .icon-2 {
    font-size: 2.3rem;
    padding: 11px 10px;
    position: absolute;
    top: 36%;
    left: 5%;
  }
  html .choose-us .main-content .block-contents .content-box .icon-3 {
    position: absolute;
    top: 70%;
    left: 5%;
  }
  html .choose-us .main-content .block-contents .content-box .sub-ctn {
    margin-top: 8rem;
  }
  html .choose-us .main-content .block-contents .content-box .sub-ctn h2 {
    font-size: 1.7rem;
  }
  html .choose-us .main-content .block-contents .content-box .sub-ctn p {
    line-height: 2.5rem;
    margin-top: 0.5rem;
  }
  html .special-dtr .main-cnt .contents {
    width: 280px;
  }
  html .special-dtr .main-cnt .arrow {
    margin-right: 5rem;
  }
  html .special-dtr .main-cnt .arrow .fas {
    padding: 4px 13px;
  }
  html .special-dtr .main-cnt .arrow .fas:hover {
    padding: 6px 17px;
  }
  html .special-dtr .cards .card {
    margin: 4rem 2rem;
  }
  html .special-dtr .cards .card .icon {
    width: 160px;
    height: 190px;
  }
  html .special-dtr .cards .card .icon .fab {
    margin: 23rem 0.5rem 0 0;
  }
}

@media only screen and (max-width: 460px) {
  html {
    font-size: 40%;
  }
  html .hero .slide .hero-content h1 {
    font-size: 3.5rem;
  }
  html .hero .slide .hero-content .btn {
    padding: 9px 14px;
    font-size: 1.7rem;
  }
  html .hero .slide .hero-content .far {
    font-size: 5rem;
  }
  html .hero .form {
    top: 55%;
    width: 180px;
    height: 265px;
  }
  html .hero .form ::-webkit-input-placeholder {
    font-size: 1.6rem;
  }
  html .hero .form :-ms-input-placeholder {
    font-size: 1.6rem;
  }
  html .hero .form ::-ms-input-placeholder {
    font-size: 1.6rem;
  }
  html .hero .form ::placeholder {
    font-size: 1.6rem;
  }
  html .hero .form .box-size {
    width: 135px;
    height: 25px;
  }
  html .hero .form .appoiment {
    font-size: 1.4rem;
  }
  html .brand-logos {
    margin: 3rem 0 0 4rem;
    -ms-grid-columns: 50px 50px 50px;
        grid-template-columns: 50px 50px 50px;
    -ms-grid-rows: 18px;
        grid-template-rows: 18px;
    grid-gap: 6px;
  }
  html .brand-logos .grid-logo img {
    width: 45px;
  }
  html .sub-content {
    margin: 8rem 0 8rem 5rem;
    position: relative;
  }
  html .sub-content h1 {
    font-size: 2.4rem;
  }
  html .sub-content .line {
    margin-top: 2rem;
  }
  html .sub-content .line p {
    font-size: 1.5rem;
    width: 360px;
  }
  html .sub-content .line span .line-btn {
    margin-right: 5rem;
    padding: 6px 5px;
    font-size: 1.5rem;
  }
  html .testimonial .container .box {
    margin: 3rem 7rem;
    width: 210px;
    height: 240px;
  }
  html .testimonial .container .box-btn {
    top: 75%;
    right: 38%;
  }
  html .about-us .main {
    margin: 0 0 5rem 5rem;
  }
  html .about-us .main p {
    width: 300px;
  }
  html .about-us .about-img {
    position: absolute;
    top: 90%;
    left: 45%;
    width: 200px;
    height: 240px;
  }
  html .choose-us {
    position: absolute;
    top: 108%;
  }
  html .choose-us .choose-img img {
    width: 200px;
    height: 250px;
  }
  html .choose-us .main-content {
    position: absolute;
    top: 85%;
    left: 65%;
    width: 240px;
  }
  html .special-dtr {
    position: absolute;
    top: 160%;
  }
  html .special-dtr .main-cnt {
    position: relative;
  }
  html .special-dtr .main-cnt .contents {
    width: 360px;
  }
  html .special-dtr .main-cnt .contents h1 {
    font-size: 2.5rem;
  }
  html .special-dtr .main-cnt .arrow {
    position: absolute;
    top: 110%;
    right: 0%;
  }
  html .special-dtr .cards .card {
    margin: 3rem 1.5rem;
  }
  html .special-dtr .cards .card .icon {
    width: 160px;
    height: 180px;
  }
  html .special-dtr .cards .card .icon .fab {
    margin: 24rem 0.5rem 0 0;
  }
  html .footer {
    position: absolute;
    top: 182%;
  }
  html .bottom-detail {
    position: absolute;
    top: 217.5%;
  }
  html .bottom-detail .bottom-text .social-media .fab {
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 398px) {
  html {
    font-size: 44%;
  }
  html .hero .slide .hero-content h1 {
    font-size: 4rem;
  }
  html .hero .slide .hero-content ::-webkit-input-placeholder {
    font-size: 2.6rem;
  }
  html .hero .slide .hero-content :-ms-input-placeholder {
    font-size: 2.6rem;
  }
  html .hero .slide .hero-content ::-ms-input-placeholder {
    font-size: 2.6rem;
  }
  html .hero .slide .hero-content ::placeholder {
    font-size: 2.6rem;
  }
  html .hero .slide .hero-content .btn {
    margin-top: 3rem;
  }
  html .hero .slide .hero-content .far {
    margin-top: 3rem;
    font-size: 5.1rem;
  }
  html .hero .form {
    top: 85%;
    margin: 0 8rem;
    width: 235px;
    height: 320px;
  }
  html .hero .form .box-size {
    width: 180px;
    height: 35px;
  }
  html .hero .form .appoiment {
    font-size: 1.7rem;
  }
  html .brand-logos {
    display: none;
  }
  html .sub-content {
    margin: 16rem 0 0 5rem;
    position: absolute;
    top: 145%;
  }
  html .sub-content h1 {
    font-size: 2.5rem;
  }
  html .sub-content .line {
    margin-top: 2rem;
  }
  html .sub-content .line p {
    width: 250px;
  }
  html .sub-content .line span {
    margin-top: 12rem;
  }
  html .sub-content .line span .line-btn {
    padding: 4px 3px;
    font-size: 1.4rem;
  }
  html .testimonial {
    position: absolute;
    top: 200%;
  }
  html .testimonial .container .box {
    margin: 5rem 3rem 0 3rem;
    width: 230px;
    height: 260px;
  }
  html .about-us {
    position: absolute;
    top: 415%;
    height: 280px;
  }
  html .about-us .main {
    margin: 0 0 5rem 10rem;
  }
  html .about-us .main p {
    width: 240px;
  }
  html .about-us .main .about-btn {
    font-size: 1.2;
    padding: 6px 14px;
    margin-top: 2rem;
  }
  html .about-us .about-img {
    top: 105%;
    left: 26%;
    width: 230px;
    height: 230px;
    margin: 0;
  }
  html .choose-us {
    position: absolute;
    top: 530%;
  }
  html .choose-us .choose-img {
    margin: 12rem 0 12rem 12rem;
  }
  html .choose-us .choose-img img {
    width: 210px;
    height: 270px;
  }
  html .choose-us .main-content {
    margin-right: 0;
    top: 85%;
    left: 25%;
    width: 230px;
  }
  html .special-dtr {
    position: absolute;
    top: 765%;
    left: 10%;
  }
  html .special-dtr .main-cnt {
    position: relative;
  }
  html .special-dtr .main-cnt .contents {
    width: 250px;
  }
  html .special-dtr .main-cnt .contents h1 {
    font-size: 2.5rem;
  }
  html .special-dtr .main-cnt .arrow {
    position: absolute;
    top: 110%;
    right: 25%;
  }
  html .special-dtr .cards .card-2 {
    display: none;
  }
  html .special-dtr .cards .card {
    margin: 3rem 1rem;
  }
  html .special-dtr .cards .card .icon {
    width: 180px;
    height: 200px;
  }
  html .special-dtr .cards .card .icon .fab {
    margin: 24rem 0.5rem 0 0;
  }
  html .footer {
    position: absolute;
    top: 865%;
  }
  html .footer h1 {
    font-size: 2.3rem;
  }
  html .footer .foot {
    margin: 1.5rem 0;
  }
  html .footer .list {
    margin-top: 1rem;
  }
  html .footer .footer-left h1 {
    font-size: 2.5rem;
  }
  html .footer .footer-left h1 .logo i {
    border: 2px solid #ee5a24;
  }
  html .bottom-detail {
    position: absolute;
    top: 1008%;
    height: 80px;
  }
  html .bottom-detail .bottom-text .social-media {
    position: absolute;
    top: 35%;
    left: 13%;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 40%;
  }
  html .hero .slide .hero-content h1 {
    font-size: 3.8rem;
  }
  html .hero .form {
    margin: 0 6rem;
    top: 80%;
    width: 200px;
    height: 300px;
  }
  html .hero .form h2 {
    font-size: 2.6rem;
  }
  html .hero .form ::-webkit-input-placeholder {
    font-size: 1.8rem;
  }
  html .hero .form :-ms-input-placeholder {
    font-size: 1.8rem;
  }
  html .hero .form ::-ms-input-placeholder {
    font-size: 1.8rem;
  }
  html .hero .form ::placeholder {
    font-size: 1.8rem;
  }
  html .hero .form .box-size {
    width: 155px;
    height: 33px;
  }
  html .sub-content {
    margin: 10rem 0 0 4rem;
  }
  html .sub-content .line {
    margin-top: 2rem;
  }
  html .sub-content .line span {
    margin-top: 10rem;
  }
  html .sub-content .line span .line-btn {
    margin-right: 5rem;
    padding: 4px 3px;
    font-size: 1.4rem;
  }
  html .testimonial {
    top: 185%;
  }
  html .testimonial .container .box {
    margin: 4rem 2rem 0 2rem;
    width: 210px;
    height: 230px;
  }
  html .testimonial .container .box-btn {
    top: 75%;
    right: 38%;
  }
  html .about-us {
    top: 365%;
  }
  html .about-us .main {
    margin: 0 0 3rem 9rem;
  }
  html .about-us .main h1 {
    font-size: 2.2rem;
  }
  html .about-us .main p {
    width: 220px;
  }
  html .about-us .about-img {
    top: 102%;
    left: 20%;
    width: 210px;
    height: 220px;
  }
  html .choose-us {
    top: 475%;
  }
  html .choose-us .choose-img {
    margin: 12rem 0 12rem 9rem;
  }
  html .choose-us .choose-img img {
    width: 200px;
    height: 260px;
  }
  html .choose-us .main-content {
    top: 85%;
    left: 20%;
    width: 230px;
  }
  html .choose-us .main-content h1 {
    font-size: 2.3rem;
  }
  html .choose-us .main-content .block-contents .content-box .icon {
    padding: 6px 8px;
  }
  html .choose-us .main-content .block-contents .content-box .icon-2 {
    padding: 8px 9px;
  }
  html .choose-us .main-content .block-contents .content-box .sub-ctn {
    margin-top: 7rem;
  }
  html .special-dtr {
    position: absolute;
    top: 675%;
    left: 8%;
  }
  html .special-dtr .main-cnt {
    position: relative;
  }
  html .special-dtr .main-cnt .contents {
    width: 210px;
  }
  html .special-dtr .main-cnt .contents h1 {
    font-size: 2.5rem;
  }
  html .special-dtr .main-cnt .arrow {
    position: absolute;
    top: 110%;
    right: 20%;
  }
  html .special-dtr .cards .card-2 {
    display: none;
  }
  html .special-dtr .cards .card {
    margin: 3rem 0 1rem 1rem;
  }
  html .special-dtr .cards .card .icon {
    width: 180px;
    height: 200px;
  }
  html .special-dtr .cards .card .icon .fab {
    margin: 26rem 0.5rem 0 0;
  }
  html .footer {
    top: 770%;
  }
  html .footer h1 {
    font-size: 2.3rem;
  }
  html .bottom-detail {
    top: 902%;
  }
  html .bottom-detail .bottom-text .social-media {
    left: 15%;
  }
}

@media only screen and (max-width: 280px) {
  html {
    font-size: 44%;
  }
  html .hero .slide .hero-content h1 {
    font-size: 3.2rem;
  }
  html .hero .slide .hero-content .btn {
    margin-top: 2rem;
  }
  html .hero .slide .hero-content .far {
    margin-top: 2rem;
    font-size: 4.6rem;
  }
  html .hero .form {
    margin: 0 3rem;
    width: 200px;
    height: 265px;
  }
  html .hero .form h2 {
    font-size: 2rem;
  }
  html .hero .form .box-size {
    width: 155px;
    height: 25px;
  }
  html .hero .form .appoiment {
    font-size: 1.5rem;
  }
  html .sub-content {
    margin: 5rem 0 0 4rem;
  }
  html .sub-content h1 {
    font-size: 2rem;
  }
  html .sub-content .line {
    margin-top: 1.5rem;
  }
  html .sub-content .line span {
    margin-top: 11rem;
  }
  html .sub-content .line span .line-btn {
    margin-right: 5rem;
    padding: 4px 3px;
    font-size: 1.3rem;
  }
  html .testimonial {
    position: absolute;
    top: 180%;
  }
  html .testimonial .container .box {
    margin: 3rem 2rem;
    width: 210px;
    height: 240px;
  }
  html .about-us {
    top: 375%;
  }
  html .about-us .main {
    margin: 0 0 3rem 5rem;
  }
  html .about-us .main h1 {
    font-size: 2rem;
  }
  html .about-us .about-img {
    top: 110%;
    left: 16%;
    width: 200px;
    height: 200px;
  }
  html .choose-us {
    top: 480%;
  }
  html .choose-us .choose-img {
    margin: 12rem 0 12rem 7rem;
  }
  html .choose-us .choose-img img {
    width: 180px;
    height: 240px;
  }
  html .choose-us .main-content {
    top: 85%;
    left: 18%;
    width: 210px;
  }
  html .choose-us .main-content h1 {
    font-size: 2rem;
  }
  html .special-dtr {
    top: 700%;
    left: 5%;
  }
  html .special-dtr .main-cnt .contents h1 {
    font-size: 2rem;
  }
  html .special-dtr .cards .card .icon .fab {
    margin: 24rem 0.5rem 0 0;
  }
  html .footer {
    top: 795%;
  }
  html .footer h1 {
    font-size: 2rem;
  }
  html .footer .footer-left h1 {
    font-size: 2.5rem;
  }
  html .bottom-detail {
    top: 947%;
  }
  html .bottom-detail .bottom-text .social-media {
    top: 40%;
    left: 18%;
  }
}
/*# sourceMappingURL=main.css.map */